# ---- .NET ----
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.dbmdl
*.pdb
*.cache
*.log
*.nupkg
*.snupkg
*.vs/
.vscode/
*.ide/
*.DS_Store
*.sdf
*.opensdf
*.cachefile
*.tgz
*.dll
*.exe
*.app
*.msi
*.log
*.config
*.bak
TestResults/
*.sql
*.mdf
*.ldf
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
packages/
*.props
*.targets

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.swp
*.swo

# Rider
.idea/

# DotCover
.idea/.dotCover