services:
  url-shortener-mongo:
    image: mongo
    container_name: url-shortener-mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  url-shortener-backend-generator:
    build:
      context: ./backend/generator
      dockerfile: Dockerfile
    container_name: url-shortener-backend-generator
    restart: always
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings:Mongo=mongodb://admin:admin123@mongo:27017?directConnection=true&serverSelectionTimeoutMS=2000
    depends_on:
      - url-shortener-mongo
    networks:
      - app-network

  url-shortener-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://localhost:5000
    container_name: url-shortener-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - url-shortener-backend-generator
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
