services:
  url-shortener-mongo:
    image: mongo
    container_name: url-shortener-mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  url-shortener-backend-generator:
    build:
      context: ./backend/generator
      dockerfile: Dockerfile
    container_name: url-shortener-backend-generator
    restart: always
    ports:
      - "5000:5147"
    environment:
      - ASPNETCORE_URLS=http://+:5147
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - url-shortener-rabbitmq
    networks:
      - app-network

  url-shortener-backend-consolidator:
    build:
      context: ./backend/consolidator
      dockerfile: Dockerfile
    container_name: url-shortener-backend-consolidator
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__Mongo=mongodb://admin:admin123@url-shortener-mongo:27017?directConnection=true&serverSelectionTimeoutMS=2000
    depends_on:
      - url-shortener-mongo
      - url-shortener-rabbitmq
    networks:
      - app-network

  url-shortener-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://localhost:5000
    container_name: url-shortener-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - url-shortener-backend-generator
    networks:
      - app-network

  url-shortener-rabbitmq:
    image: rabbitmq:3-management
    container_name: url-shortener-rabbitmq
    restart: always
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - app-network

volumes:
  mongo-data:
  rabbitmq-data:

networks:
  app-network:
    driver: bridge
